<div class="table-wrap">
    <table class="table" aria-label="Listado de productos">
      <thead>
        <tr>
          <th>Nombre</th>
          <th class="col-num">Precio</th>
          <th class="col-num">Stock</th>
          <th>Categoría</th>
          <th class="col-actions" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>

        @for(product of products; track product.id){

          <tr>
            <td>
              <div class="prod__name">{{product.name}}</div>
              <div class="prod__sku muted">ID: {{product.id}}</div>
            </td>
            <td class="col-num">{{product.price}}</td>
            <td class="col-num">{{product.stock}}</td>
            <td>{{product.category_name}}</td>
            <td class="col-actions">
              <div class="col-actions__btns" role="group">
                <button class="btn btn--ghost btn--sm" type="button" (click)="onEdit(product.id)">EDITAR ✏️</button>
                <button class="btn btn--danger btn--sm"type="button" (click)="onDelete(product.id)">ELIMINAR 🗑️</button>
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div> 
